<app-toolbar [title]="title" [loading]="loadingList.user"></app-toolbar>
<button *ngIf="!isProfile" routerLink="/user-list" class="btn btn-secondary btn-sm mb-3">{{'GO TO LIST' | translate}}</button>
<div *ngIf="loggedinUser && user" class="container-fluid">
  <div class="row mb-5">
    <form class="col-12 p-0" #detailForm="ngForm" id="f" (ngSubmit)="submit(detailForm, detailForm.valid)">
      <div class="card col-xs-12 col-sm-12 p-0">
        <div class="card-body">
          <div class="row">
            <div *ngIf="!isNew" class="col-sm-6 mb-3" style="order: 1">
              <label [for]="registeredAt" class="form-label-group">{{'Registered At' | translate}}:</label>
              <input #registeredAt name="registeredAt" class="form-control m-0" [value]="user.registeredAt?.toLocaleString()" readonly>
            </div>
            <ng-container *ngFor="let formControlData of formControlList">
              <form-element *ngIf="formControlData.ngIf !== undefined ? formControlData.ngIf : true"
                            class="{{formControlData.wrapperClass !== undefined ?  formControlData.wrapperClass : 'col-sm-6 mb-3'}}"
                            [ngStyle]="{order: formControlData.order}"
                            [inputData]="formControlData"
                            [(inputValue)]="user[formControlData.name]"
                            [parentForm]="detailForm"></form-element>
            </ng-container>
            <div class="col-sm-12 col-md-6 mb-3 date-input" style="order: 7">
              <div class="form-group label-floating">
                <label [for]="dateOfBirthInput" class="control-label full-width">{{'Date of birth' | translate}}</label>
                <div class="input-group">
                  <input #dateOfBirthInput placeholder="{{'Date of birth' | translate}}"
                         [ngClass]="{'form-control': true,  'is-invalid': detailForm.submitted && detailForm.controls['dateOfBirth'] && detailForm.controls['dateOfBirth'].invalid}"
                         name="dateOfBirthInput" [(ngModel)]="dateOfBirth" ngbDatepicker #d="ngbDatepicker" readonly>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary p-1" (click)="d.toggle()" type="button">
                      <mat-icon style="font-size: 1.2rem; cursor: pointer;">calendar_today</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <input type="submit" class="btn btn-primary float-right" value="{{(isNew ? 'Confirm' : 'Update') | translate}}" [disabled]="loadingList.user"/>
          <input *ngIf="!isNew && !isProfile" type="button" (click)="deleteUser()" class="btn btn-danger float-left" value="{{'Delete' | translate}}" [disabled]="loadingList.user"/>
        </div>
      </div>
    </form>
  </div>
</div>
